= semantic_form_for setting do |form|
  = form.inputs do
    = form.input :name
    = form.input :value
    = form.input :kind, :as => :select, :collection => form.object.kinds.map(&:to_s)
  
  = form.buttons do
    = form.commit_button
    = link_to 'Cancel', '', :class => 'cancel_link'
  